<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th align="left">Title</th>
      <th align="left">Description</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><a href="<%= article.id %>">Show</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
