<!-- Text box in middle -->
<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center text-white" >
          <h1>Alpha Blog</h1>
          <p class="lead">A trivial application exercise from a novice-level Rails course.</p>
          <p>The original is over-engineered for such a trivial application.  We want the UI as simple as possible.</p>
            <hr class="my-4">
            <p><i>Note: the jury's still out about whether the course is much good.  So far it's a superficial treatment of the subject.</i></p>
            <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
        </div>
    </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Mark F. Rogers", "https://www.cs.colostate.edu/~mfrogers/", class: "text-white" %></small>
  </div>
</footer>
