<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Mark F. Rogers", "https://www.cs.colostate.edu/~mfrogers/", class: "text-white" %></small>
  </div>
</footer>
