<!-- Text box in middle -->
<div class="container">
    <div class="jumbotron">
      <p class="lead">A trivial application exercise from a novice-level Rails course.</p>
      <p>The original is over-engineered for such a trivial application.  We want the UI as simple as possible.</p>
        <hr class="my-4">
        <p><i>Note: the jury's still out about whether the course is much good.  So far it's a superficial treatment of the subject.</i></p>
        <a class="btn btn-primary btn-lg" href="#" role="button">See articles</a>
    </div>
</div>
